.App {
    width: 1000px;
    display: flex;
    margin: 0 auto;
}
#Deal {
    margin: 50px 185px;
    background: white;
    border: 5px dashed black;
    padding: 20px 50px;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}